<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Chozat - Admin</title>
	<th:block th:replace="include/dep-css" />
	<th:block layout:fragment="css"/>
</head>

<body>

<main class="main">

	<div class="wrapper">
		<th:block th:include="components/main-header"/>
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-1">

			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-primary">
						<li class="nav-item">
							<a th:href="@{/}">
								<i class="fas fa-th-list"></i>
								<p>Tenants</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/}">
								<i class="fas fa-th-list"></i>
								<p>Reports</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/}">
								<i class="fas fa-th-list"></i>
								<p>Hosts</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/}">
								<i class="fas fa-th-list"></i>
								<p>Incomes</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/}">
								<i class="fas fa-th-list"></i>
								<p>Expenses</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-panel" layout:fragment="content"/>

	</div>
</main>

<th:block th:replace="include/dep-js" />

<th:block layout:fragment="javascript"/>

</body>
</html>