<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  xmlns:th="http://www.thymeleaf.org"
		  layout:decorate="~{layout/customer-panel-layout}">

	<div layout:fragment="content">
		<div class="content">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">New User</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a th:href="@{/}">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/users}">Users</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/users-new}">New User</a>
						</li>
					</ul>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="card card-with-nav">
							<div class="card-body">
								<div class="row mt-3">
									<form id="userForm" th:action="@{/__${customerId}__/users/new}" method="post" th:object="${userNewInput}">
<!--										<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">-->
<!--											<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
<!--										</div>-->
										<fieldset>
											<div class="form-group">
												<label for="name">Name</label>
												<input th:errorclass="is-invalid" th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="Your name or nickname">
												<div th:each="error : ${#fields.errors('name')}" th:text="${error}" class="invalid-feedback">Sorry, that username's taken. Try another?</div>
											</div>
											<div class="form-group">
												<label for="email">Email address</label>
												<input th:errorclass="is-invalid" th:field="*{email}" type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
												<div th:each="error : ${#fields.errors('email')}" th:text="${error}" class="invalid-feedback">Sorry, that username's taken. Try another?</div>
											</div>
											<div class="form-group">
												<label for="role">Role</label>
												<select id="role" class="form-control" th:errorclass="is-invalid" th:field="*{role}"  name="role" placeholder="The permission role">
													<option th:each="role : ${roles}" th:value="${role}" th:text="${role}" class="text-capitalize">Apple</option>
												</select>
												<div th:each="error : ${#fields.errors('role')}" th:text="${error}" class="invalid-feedback">Sorry, that username's taken. Try another?</div>
											</div>
											<div class="form-group">
												<label for="password">Initial password</label>
												<input th:errorclass="is-invalid" th:field="*{initialPassword}" type="password" class="form-control" id="password"  name="initialPassword" placeholder="Initial password">
												<div th:each="error : ${#fields.errors('initialPassword')}" th:text="${error}" class="invalid-feedback">Sorry, that username's taken. Try another?</div>
											</div>
<!--											<div class="form-group">-->
<!--												<label for="exampleInputPassword1">Password</label>-->
<!--												<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--											</div>-->
										</fieldset>
									</form>
								</div>
								<div class="text-right mt-3 mb-3 card-footer">
									<a th:href="@{/__${customerId}__/users}" class="btn btn-light mr-3">Cancel</a>
									<button type="submit" form="userForm" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>



		<th:block layout:fragment="javascript">

			<script>

			</script>

		</th:block>

</th:block>