<configuration>

<appender name="TRACE" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>TRACE</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>

	<encoder>
		<pattern>%nopex[TRACE] %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%magenta(%thread)] %cyan(%logger{35}) - %msg%n%xThrowable{2}</pattern>
	</encoder>
</appender>

<appender name="DEBUG" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>DEBUG</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>

	<encoder>
		<pattern>%nopex[%boldGreen(DEBUG)] %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%magenta(%thread)] %cyan(%logger{35}) - %msg%n%green(%xThrowable{2})</pattern>
	</encoder>
</appender>

<appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>INFO</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>

	<encoder>
		<pattern>%nopex[%boldBlue(INFO )] %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%magenta(%thread)] %cyan(%logger{35}) - %msg%n%blue(%xThrowable{2})</pattern>
	</encoder>
</appender>

<appender name="WARN" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>WARN</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>

	<encoder>
		<pattern>%nopex[%boldYellow(WARN )] %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%magenta(%thread)] %cyan(%logger{35}) - %msg%n%yellow(%xThrowable{5})</pattern>
	</encoder>
</appender>

<appender name="ERROR" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>ERROR</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>

	<encoder>
		<pattern>%nopex[%boldRed(ERROR)] %white(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%magenta(%thread)] %cyan(%logger{35}) - %msg%n%red(%xThrowable)</pattern>
	</encoder>
</appender>

<logger name="com.gamemanager" level="TRACE">
	<appender-ref ref="TRACE" />
	<appender-ref ref="DEBUG" />
</logger>

<root level="INFO">
	<appender-ref ref="INFO" />
	<appender-ref ref="WARN" />
	<appender-ref ref="ERROR" />
</root>

</configuration>