<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  xmlns:th="http://www.thymeleaf.org"
		  layout:decorate="~{layout/user-panel-layout}">

	<div layout:fragment="content">
		<div class="content">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">My profile</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a th:href="@{/}">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/change-password}">Change password</a>
						</li>
					</ul>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="card card-with-nav">
							<div class="card-body">
								<div class="row mt-3">
									<form id="passForm" th:action="@{/change-password}" method="post" th:object="${passwordInput}">
										<fieldset>
											<div class="form-group">
												<label for="password">Password</label>
												<input th:errorclass="is-invalid" th:field="*{password}"  name="password" type="password" class="form-control" id="password" placeholder="Password">
												<div th:each="error : ${#fields.errors('password')}" th:text="${error}" class="invalid-feedback">Errorr?</div>
											</div>
										</fieldset>
									</form>
								</div>
								<div class="text-right mt-3 mb-3 card-footer">
									<a th:href="@{/user}" class="btn btn-light mr-3">Cancel</a>
									<button type="submit" form="passForm" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

		<th:block layout:fragment="javascript">

			<script>

			</script>

		</th:block>

</th:block>