<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  xmlns:th="http://www.thymeleaf.org"
		  layout:decorate="~{layout/jk-panel-layout}">

	<div layout:fragment="content">
		<div class="content">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Overview</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a th:href="@{/}">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/server}">Server</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/server}">Overview</a>
						</li>
					</ul>
				</div>

				<th:block th:if="${error}">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
									Server
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									No info found, the server looks offline or unreachable.
								</li>
							</ul>
						</div>
					</div>
				</th:block>

				<th:block th:unless="${error}">
					<!--summary-->
					<div class="row">
						<div class="col-md-6">
							<ul class="list-group">
								<li th:text="${overview.serverNameWithoutColors}"
									class="list-group-item d-flex justify-content-between align-items-center bg-dark">
									Server
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<ul style="maring: 0px">
										<li th:text="|Address: ${overview.address}|"></li>
										<li th:text="|Players: ${overview.playersCount}/${overview.maxSlots}|"></li>
										<li th:text="|Map: ${overview.mapName}|"></li>
										<li th:text="|Version: ${overview.gameNameAndVersion}|"></li>
									</ul>
								</li>
							</ul>
						</div>
					<!--graph player-->

						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
									Players
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<table th:unless="${#lists.isEmpty(overview.players)}" class="table table-striped">
										<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="player, i : ${overview.playersWithoutColors}">
											<td th:text="${i.index}">MB2 DOFT</td>
											<td th:text="${player}">MB2 DOFT</td>
										</tr>
										</tbody>
									</table>
									<div th:if="${#lists.isEmpty(overview.players)}">
										The server is empty.
									</div>
								</li>
							</ul>
						</div>
					</div>
				</th:block>

			</div>
		</div>

	<th:block layout:fragment="javascript">

		<script>

		</script>

	</th:block>

</th:block>