<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  xmlns:th="http://www.thymeleaf.org"
		  layout:decorate="~{layout/jk-panel-layout}">

	<div layout:fragment="content">
		<div class="content">
			<div class="page-inner">

				<div class="page-header">
					<h4 class="page-title">RTV</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a th:href="@{/}">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/server}">Server</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a th:href="@{/server/rtv}">RTV</a>
						</li>
					</ul>
				</div>

				<div class="row">

					<div class="col-md-6">
						<div class="card">
							<h3 class="card-header bg-dark">Config File</h3>
							<div class="card-body">
								<p class="card-text">
									Download the RTV config file or upload a new one.
								</p>
								<a th:href="@{/server/rtv/rtvrtm.cfg}" class="card-link">Download</a>
								<button class="btn btn-primary ml-3" data-toggle="modal" data-target="#rtvrtm-upload-config">Upload</button>
							</div>
						</div>
						<div class="modal" id="rtvrtm-upload-config">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Upload config</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="rtvrtm-upload-form" th:action="@{/server/rtv/rtvrtm}" method="post" enctype="multipart/form-data">
											<fieldset>
												<div class="form-group">
													<label for="rtvrtm-input-file">File</label>
													<input type="file" class="form-control-file" id="rtvrtm-input-file" name="file">
													<!-- aria-describedby="fileHelp" <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
												</div>
											</fieldset>
										</form>
									</div>
									<div class="modal-footer">
										<button form="rtvrtm-upload-form" type="submit" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<h3 class="card-header bg-dark">Restart RTV</h3>
							<div class="card-body">
								<p class="card-text">Choose a command to send</p>
<!--									<a style="margin-right: 15px;" th:href="@{/server/rtv/poweron}" class="btn btn-info">Power On</a>-->
<!--									<a style="margin-right: 15px;" th:href="@{/server/rtv/poweroff}" class="btn btn-danger">Power Off</a>-->
								<a style="margin-right: 15px;" th:href="@{/server/rtv/restart}" class="btn btn-primary">Restart</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-6">
						<div class="card">
							<h3 class="card-header bg-dark">Primary Maps</h3>
							<div class="card-body">
								<p class="card-text">
									Download the primary map list file or upload a new one.
								</p>
								<a th:href="@{/server/rtv/maps.txt}" class="card-link">Download</a>
								<button class="btn btn-primary ml-3" data-toggle="modal" data-target="#rtvrtm-upload-config">Upload</button>
							</div>
						</div>

						<div class="modal" id="primary-map-upload-config">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Upload config</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="primary-map-upload-form" th:action="@{/server/rtv/primary-maps}" method="post" enctype="multipart/form-data">
											<fieldset>
												<div class="form-group">
													<label for="primary-map-input-file">File</label>
													<input type="file" class="form-control-file" id="primary-map-input-file" name="file">
													<!-- aria-describedby="fileHelp" <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
												</div>
											</fieldset>
										</form>
									</div>
									<div class="modal-footer">
										<button form="primary-map-upload-form" type="submit" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card">
							<h3 class="card-header bg-dark">Secondary Maps</h3>
							<div class="card-body">
								<p class="card-text">
									Download the secondary map list file or upload a new one.
								</p>
								<a th:href="@{/server/rtv/secondary_maps.txt}" class="card-link">Download</a>
								<button class="btn btn-primary ml-3" data-toggle="modal" data-target="#rtvrtm-upload-config">Upload</button>
							</div>
						</div>

						<div class="modal" id="secondary-map-upload-config">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Upload config</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="secondary-map-upload-form" th:action="@{/server/rtv/secondary-maps}" method="post" enctype="multipart/form-data">
											<fieldset>
												<div class="form-group">
													<label for="secondary-map-input-file">File</label>
													<input type="file" class="form-control-file" id="secondary-map-input-file" name="file">
													<!-- aria-describedby="fileHelp" <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
												</div>
											</fieldset>
										</form>
									</div>
									<div class="modal-footer">
										<button form="secondary-map-upload-form" type="submit" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	<th:block layout:fragment="javascript">

		<script>

		</script>

	</th:block>

</th:block>